@media(max-width: 500px){
    .burger{
        display: block;
    }
    .por{
        display: none;
    }
    .send button{
        display: none;
    }
    .start{
        width: 350px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 20px 25px;
   
    }
    .ok{
        gap: 10px;
        display: flex;
        align-items: center;
    }
    .start1{
        margin: 10px 0px;
        position: relative;
        display: flex;
        flex-direction: column-reverse;
        right: 250px;
    }
    .start1 h1{
        font-size: 40px;
    }
    .pos{ 
   display: none;
    }
    .prcenter, .but, .obdiv{
        margin: 50px 10px;
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    .but{
        flex-direction: row;

    }
    .box{
        margin-bottom: 100px;
        width: 320px;
    }
    .center{
        width: 399px;
        font-size: 15px;
    }
    .but{
        flex-wrap: wrap;
        width: 380px;
    }
    .pend{
        display: flex;
        flex-direction: column-reverse;
        margin: 20px 0px;
    }
    .pend img{
        width: 350px;
    }
    .dend{
    width: 380px;
       margin: 20px 0px;
       display: flex;
       flex-direction: column;
       gap: 30px;
        
    }
    .tex1{
        width: 200px;
    }
    .endend{
    width: 380px;
    margin: 0px;
    }
    .dg{
        margin: 0px;
        display: flex;
        justify-content: start;
        position: relative;
        right: 100px;
    }
}